# ---> Java
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ---> Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# ---> Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

/generated/
/generated-sealed/
/generated-legacy/
/.vcpkg/
/vcpkg/
linux-build.sh
linux-deploy-release.sh
linux-deploy-snapshot.sh
linux-generate-tdapi.sh
win-build.sh
win-deps.sh
/.cache/

.idea/
/natives/build/
/natives/src/main/td/
/natives/tdjni_bin/
/natives/tdjni_docs/
/natives/src/main/td_bin/
/natives/src/main/tdjni_docs/
/api/src/main/td/
/api/jni_bin/
/api/target-legacy/
/api/target-sealed/
/api/.ci-friendly-pom.xml

natives/.ci-friendly-pom.xml

*.so
