[submodule "tdlib-serializer"]
	path = tdlib-serializer
	url = https://github.com/tdlight-team/tdlib-serializer
[submodule "implementations/tdlight"]
	path = implementations/tdlight
	url = https://github.com/tdlight-team/tdlight
