[submodule "implementations/tdlight"]
	path = implementations/tdlight
	url = https://git.ignuranza.net/tdlight-team/tdlight.git
[submodule "tdlib-serializer"]
	path = tdlib-serializer
	url = https://git.ignuranza.net/tdlight-team/tdlib-serializer
